<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>bbs</display-name>
 
 
  <filter>
  	<filter-name>flow</filter-name>
  	<filter-class>com.sys4u.company.filter.CharacterEncodingFilter</filter-class>
  </filter>
  
  <filter-mapping>
  	<filter-name>flow</filter-name>
  	<url-pattern>*.do</url-pattern>
  </filter-mapping>
  
  <filter>
  	<filter-name>auth</filter-name>
  	<filter-class>com.sys4u.company.filter.AuthFilter</filter-class>
  </filter>
  
  <filter-mapping>
  	<filter-name>auth</filter-name>
  	<url-pattern>/auth/*</url-pattern>
  </filter-mapping>
   
 
 
  <servlet>
  	<servlet-name>companyServlet</servlet-name>
  	<servlet-class>com.sys4u.company.servlet.CompanyServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>companyServlet</servlet-name>
  	<url-pattern>*.do</url-pattern>
  </servlet-mapping>
 
   
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>